.navbar {
  background-color: #4C413B;
  padding: 20px;
  max-height: 60px; }

footer {
  background-color: #4C413B;
  padding: 20px; }

.mainarea {
  background-color: #FCFCFC;
  padding: 10px; }

.starlogo {
  height: 50px;
  background-image: url("/assets/img/BahaiFaithwithStar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 40px;
  position: relative;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }
